//$edge: 30px;

/*Colors*/

$color-title: #000000;
$color-title-active: rgba(0, 0, 0, 0.3);
$color-secondary: #63D1BB;
$color-footer: #46C1AE;
$color-secondary-active: rgba(70, 193, 174, 0.3);
$color-text: #444444;
$color-bg: #F1F1F1;
$color-contrast: #FFFFFF;
$color-contrast-active: rgba(256, 256, 256, 0.3);
$color-border: rgba(0, 0, 0, 0.1);

/*Font*/
$font-main: "Open Sans", "Arial", sans-serif;

$mobile-only: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1150px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
