.about__inner {
  padding: 26px 0;
  @include centrify-all;
}

.about__title {
  margin: 0;
  margin-left: -2px;
  @include title(25px);
}

.about__list {
  @include ul-reset;
  margin-left: -2px;
  display: flex;
  flex-direction: column;
}

.about__list-item {
  @include title(17px, 20px, 700);
  margin: 0;
  padding-top: 85px;
  position: relative;

  svg {
    position: absolute;
  }

  &--eco svg {
    top: 32px;
    left: 10px;
  }

  &--price svg {
    top: 32px;
    left: 2px;
  }

  &--like svg {
    top: 36px;
    left: 10px;
  }

  &--handmade {
    padding-top: 84px;

    svg {
      top: 33px;
      left: 5px;
    }
  }

  &--native svg {
    top: 33px;
    left: -4px;
  }

  &--gift {
    padding-top: 84px;

    svg {
      top: 31px;
      left: 4px;
    }
  }
}

@media #{$tablet} {
  .about__inner {
    padding: 50px 0 60px;
  }

  .about__title {
    margin-left: -4px;
    margin-bottom: 15px;
    @include title-tablet
  }

  .about__list {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 1px;
  }

  .about__list-item {
    width: 50%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-top: 88px;

    &--eco {
      svg {
        top: 35px;
      }
    }

    &--handmade {
      order: 2;
      svg {
        top: 38px;
        left: 4px;
      }
    }

    &--price {
      order: 3;
      svg {
        top: 36px;
      }
    }

    &--like {
      order: 5;
      svg {
        top: 40px;
      }
    }

    &--native {
      order: 4;
      svg {
        top: 39px;
      }
    }

    &--gift {
      order: 6;
      svg {
        top: 37px;
      }
    }
  }
}

@media #{$desktop} {
  .about__inner {
    width: 700px;
    padding-top: 58px;
    padding-bottom: 67px;
  }

  .about__title {
    @include title-desktop;
  }
}
