.contacts {
  padding-top: 35px;
  margin-bottom: 39px;
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts__title {
  width: 262px;
  margin: 0 auto 26px auto;
  @include title(18px, 30px);
}

.contacts__flag {
  display: none;
}

.contacts__wrapper {
  padding-bottom: 7px;
  margin: 0 auto;
  width: 260px;
}

.contacts__field {
  margin-right: 29px;
}


.contacts__item {
  @include text(15px, 30px);
  display: flex;
  margin-bottom: 30px;
}




.contacts__link {
  line-height: 28px;
  border-bottom: 1px solid $color-secondary;
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-secondary;
  }

  &:active {
    color: $color-secondary-active;
    border-bottom-color: $color-secondary-active;
  }
}

.contacts__text {
  margin: 0;
}

.contacts__map {
  //for IE
  width: 320px;
  margin: 0 auto 39px auto;
  background: #ece9e2 url("../img/map-fallback.jpg") -200px 0 no-repeat;
}

.contacts__map-container {
  width: 320px;
  height: 457px;
}

.contacts__btn {
  @include btn;
  padding-top: 15px;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media #{$tablet} {
  .contacts {
    padding-top: 61px;
    margin-bottom: 58px;
  }

  .contacts__title {
    @include title-tablet;
    width: 675px;
    position: relative;
    margin-bottom: 50px;
  }

  .contacts__flag {
    display: block;
    position: absolute;
    right: 53px;
    top: -14px;
  }

  .contacts__wrapper {
    display: flex;
    width: 668px;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 28px;
  }

  .contacts__item {
    width: 334px;
    font-size: 17px;
  }

  .contacts__field {
    margin-right: 24px;
  }

  .contacts__map {
    //width for IE
    width: 768px;
    margin-bottom: 56px;
    background-position: 0 0;
  }

  .contacts__map-container {
    width: 768px;
  }

  .contacts__btn {
    align-self: center;
    width: auto;
    max-width: 350px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: 17px;
  }
}

@media #{$desktop} {
  .contacts {
    padding-top: 68px;
    margin-bottom: 85px;
  }

  .contacts__inner {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    min-height: 460px;
    padding-left: 175px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .contacts__title {
    @include title-desktop;
    width: auto;
    margin: 73px 0 27px -5px;
  }

  .contacts__flag {
    left: 63px;
    top: 64px;
  }

  .contacts__wrapper {
    margin: 0;
    width: 350px;
    flex-direction: column;
  }

  .contacts__map {
    //width for IE
    width: 525px;
    position: absolute;
    top: 5px;
    right: 0;
    background-position: -100px 0;
  }

  .contacts__map-container {
    width: 525px;
  }

  .contacts__btn {
    margin: 0;
    outline: none;
    align-self: flex-start;
  }
}
