.reviews {
  padding-bottom: 51px;
  @include zigzag-line;
}

.reviews__inner {
  position: relative;
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  @include title(25px);
  padding-top: 30px;
  margin: 0;
  margin-left: -3px;
}

.reviews__list {
  margin: 26px 0 28px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  @include text(15px, 30px);
}

.reviews__footer {
  display: block;
  margin-top: 25px;
  font-style: normal;
}

.reviews__author-name {
  @include title(18px, 24px);
}

.reviews__author-id {
  @include text(18px, 34px);
}

.reviews__controls {
  margin-bottom: 39px;
  display: flex;
  flex-direction: row;
}

.reviews__control {
  padding: 0;
  font-size: 0;
  width: 130px;
  box-sizing: border-box;
  height: 52px;
  background-color: transparent;
  @include border(full);
  outline: none;
  position: relative;

  &--next {
    border-left: none;
  }

  &:hover svg {
    opacity: 0.6;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.reviews__btn {
  @include btn;
  outline: none;

}

@media #{$tablet} {
  .reviews {
    padding-bottom: 83px;

  }

  .reviews__inner {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 668px;
    padding: 0 50px;
    background: url("../img/review@1x.jpg") no-repeat;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    @include title-tablet;
    padding-top: 75px;
    padding-bottom: 5px;
    max-width: 334px;
  }

  .reviews__btn {
    width: auto;
    max-width: 300px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 36px;
    font-size: 17px;
  }

  .reviews__list {
    margin: 46px 0;
    order: 1;
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__footer {
    margin-top: 59px;
  }

  .reviews__author-name {
    font-size: 17px;
  }

  .reviews__author-id {
    font-size: 17px;
  }

  .reviews__controls {
    position: absolute;
    margin: 0;
    right: 50px;
    bottom: 50px;
    width: 172px;
  }

  .reviews__control {
    border: none;

  }
}

@media #{$desktop} {
  .reviews {
    padding-bottom: 89px;
  }

  .reviews__inner {
    width: 875px;
    padding-left: 175px;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .reviews__title {
    @include title-desktop;
    padding-top: 70px;
  }

  .reviews__text {
    padding-right: 80px;
  }

  .reviews__author-id {
    display: block;

  }

  .reviews__footer {
    margin-top: 38px;
  }

  .reviews__controls {
    right: 0;
    bottom: 99px;
  }
}
