.catalog-item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  @include border(full);
  box-sizing: border-box;
  overflow: hidden;
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__link {
  display: block;
  width: 260px;
  height: 195px;
}

.catalog-item__description {
  padding: 25px 27px 27px;
  display: flex;
  flex-direction: column;
}

.catalog-item__description-footer {
  padding-top: 22px;
  @include border(top);
  display: flex;
  justify-content: space-between;
}

.catalog-item__title {
  margin-top: 0;
  margin-bottom: 5px;
  @include title(17px, 24px);
  display: block;
  text-decoration: none;
  @include hovers;
}

.catalog-item__text {
  margin: 0 0 20px 0;
  @include text(13px, 30px);
}

.catalog-item__price {
  @include title(15px, 24px);
}

.catalog-item__cart {
  font-size: 0;
  width: 20px;
  height: 19px;
  opacity: 0.2;

  &:hover {
    opacity: 1;
    fill: $color-secondary;
  }

  &:active {
    opacity: 0.3;
  }
}


@media #{$tablet} {
  .catalog-item {
    margin-top: 54px;
    flex-direction: row;
  }

  .catalog-item__link {
    width: 332px;
    height: 332px;
  }

  .catalog-item__picture {
    width: 334px;
    height: auto;
    overflow: hidden;//to match size with borders
  }

  .catalog-item__description {
    padding-bottom: 24px;
    box-sizing: border-box;
    width: 334px;
    justify-content: space-between;
  }

  .catalog-item__title {
    font-size: 20px;
    margin-bottom: 6px;

    a {
      font-size: 20px;
    }
  }

  .catalog-item__text {
    font-size: 15px;
  }

  .catalog-item__description-footer {
    margin: 0 5px 2px;

  }

  .catalog-item__price {
    font-size: 17px;
  }
}


@media #{$desktop} {
  .catalog-item {
    flex-wrap: wrap;

    width: 316px;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(-n+3) {
      margin-top: 0;
    }
  }

  .catalog-item__link {
    width: 316px;
    height: 462px;
  }

  .catalog-item__picture {
    width: 316px;
  }

  .catalog-item__text {
    margin: 0;
  }

  .catalog-item__description {
    padding-top: 25px;
    width: 316px;
  }

  .catalog-item__description-header {
    margin-bottom: 12px;
    min-height: 85px;
  }

  .catalog-item__description-footer {
    margin-left: 0;
  }
}
