.media {
  margin-top: 30px;
  margin-bottom: 58px;
}

.media__content {
  @include centrify-all;
  @include border(full);
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.media__header {
  position: relative;
}

.media__title {
  @include title(17px, 24px);
  padding: 23px 40px 25px 90px;
  position: relative;
  margin: 0;
}

.media__icon {
  position: absolute;
  fill: $color-secondary;
  left: 33px;
  top: 30px;
}

.media__video {
  position: relative;

  img {
    width: 260px;
    height: auto;
  }
}

.media__play-btn {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: all 0.2s;
  }

  &:active {
    transform:  translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
    transition: all 0.2s;
  }
}

.media__description {
  margin-top: 0;
  margin-bottom: 26px;
  padding-right: 5px;
  @include text(13px, 24px);
}

.media__footer {
  width: 192px;
  margin: 23px auto 32px;
}

.media__btn {
  @include btn(17px, 188px);
  padding-left: 0;
  padding-right: 0;
}

@media #{$tablet} {
  .media {
    margin-bottom: 64px;
  }

  .media__description {
    @include text(15px, 30px);
  }

  .media__header {
    order: 2;
    width: 584px;
    margin: 39px auto 33px;
  }

  .media__title {
    font-size: 20px;
    padding: 0 0 0 64px;
    &::before {
      left: 0;
      top: -6px;
    }
  }

  .media__icon {
    left: 0;
    top: -6px;
  }

  .media__video {
    width: 668px;
    height: 455px;
    img {
      width: 668px;
    }
  }

  .media__play-btn {
    top: 52%;
  }

  .media__footer {
    width: 584px;
    order: 3;
    margin-top: 0;
    margin-bottom: 44px;
  }

  .media__description {
    padding-right: 0;
    margin-bottom: 35px;
  }

  .media__btn {
    width: 100%;
    box-sizing: border-box;
  }
}

@media #{$desktop} {
  .media {
    margin-top: 0;
    margin-bottom: 105px;
  }

  .media__content {
    padding-left: 760px;
    box-sizing: border-box;
    position: relative;
    min-height: 455px;
    border-left: none;
  }

  .media__header {
    width: 230px;
    margin: 0 0 34px;
  }

  .media__icon {
    left: 0;
    top: 40px;
  }

  .media__title {
    padding-top: 95px;
    padding-left: 0;
  }

  .media__video {
    width: 682px;
    position: absolute;
    left: 0;

    img {
      width: 682px;
    }
  }

  .media__play-btn {
    top: 50.6%;
    left: 51.4%;
  }

  .media__footer {
    width: 230px;
    margin-left: 0;
    margin-right: 55px;
    margin-bottom: 60px;
  }

  .media__description {
    margin-bottom: 46px;
  }

  .media__btn {
    margin-left: 2px;
  }
}
