.copyright {
  @include title(19px, 28px);
  padding: 22px 39px 23px 37px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright__link {
  font-size: 0;
  width: 27px;
  height: 34px;
  fill: $color-secondary;


  @include hovers-footer;
}

@media #{$tablet} {
  .copyright {
    justify-content: flex-end;
    padding: 0;
  }

  .copyright__link {
    margin-top: -1px;
    margin-left: 30px;
  }
}
