.main-menu {
  margin: 0;
  position: relative;
  z-index: 2;
}

.main-menu__btn {
  position: absolute;
  width: 21px;
  height: 20px;
  outline: none;
  z-index: 1000;
  top: 25px;
  right: 31px;
}

@media #{$mobile-only} {
  .main-menu__list--closed {
    .main-menu__item {
      display: none;
    }

    .main-menu__item--logo {
      display: flex;
    }
  }

  .main-menu__list--opened {
    .main-menu__item {
      display: block;

      &--logo {
        display: flex;
      }
    }
  }
}

.main-menu__list {
  @include ul-reset;


  .main-menu__item--promo {
    display: none;
  }
}

.main-menu__item {
  @include border(bottom);
  position: relative;

  &--logo {
    padding: 21px 0 22px;
    @include border(top);
    justify-content: center;
  }
}

.main-menu__item svg {
  position: absolute;
  left: 30px;
  top: 32px;
  fill: rgba(0, 0, 0, 0.2);
}



.main-menu__link {
  outline: none;
  display: block;
  padding: 28px 0 28px 75px;
  text-decoration: none;
  @include title(17px, 24px);
}

.main-menu__link[href] {
  @include hovers;
}

.main-menu__link--active {
  color: #7f6d62;
}

.main-menu__link[href]:hover svg {
  fill: $color-secondary;
}

.main-menu__logo {
  display: block;
  img {
    display: block;
    width: 86px;
    height: auto;
  }
}

.main-menu__logo[href] {
  @include hovers;
}




@media #{$tablet} {
  .main-menu {
    width: 100%;
  }

  .main-menu__btn {
    display: none;
  }

  .main-menu__list {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-menu__logo img {
    width: 113px;
    margin-left: -2px;
  }

  .main-menu__item {
    border: none;

    &--logo {
      order: 0;
      width: 320px;
      text-align: left;
      padding: 0;
    }

    &--catalog,
    &--form {

      margin-right: 36px;
      order: 2;

      .main-menu__link {
        font-size: 15px;
        padding: 19px 0;
      }
    }

    &--search {
      order: 1;

      align-self: stretch;
      width: 82px;
      @include border(left);
      @include border(right);

      svg {
        top: 36px;
        left: 33px;
      }

      .main-menu__link {
        font-size: 0;
        padding: 30px;
      }
    }

    &--cart {
      order: 1;
      width: 264px;
      text-align: right;

      svg {
        top: 35px;
        left: 32px;
      }

      .main-menu__link {
        padding: 31px 0 33px 80px;
      }
    }
  }
}


@media #{$desktop} {
  .main-menu__list {
    width: 1050px;

    .main-menu__item--promo {
      display: block;
    }
  }

  .main-menu__logo img {
    width: 149px;
  }

  .main-menu__item {
    &--logo {
      width: 149px;
      text-align: center;
      margin-right: auto;
      order: 1;
    }
    &--catalog,
    &--form {
      order: 0;

      .main-menu__link {
        padding: 30px 0 34px;
        @include title(17px, 24px);
        &--active {
          color: #7f6d62;
        }
      }
    }

    &--catalog {
      width: 185px;
      margin-right: 32px;
      @include border(right);
    }

    &--form {
      width: 234px;
      margin-right: 0;
    }

    &--cart {
      padding-right: 2px;
    }

    &--promo {
      order: 2;
      width: 185px;

      margin-right: 35px;
      .main-menu__link {
        padding: 19px 0;
        @include title(15px, 24px);
      }
    }
  }
}
