.social {
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__btn {
  position: relative;
  font-size: 0;
  margin-right: 41px;

  @include hovers-footer;

  &--instagram {
    width: 22px;
    height: 21px;
  }
  &--facebook {
    margin-right: 39px;
    margin-top: -3px;
    width: 15px;
    height: 28px;
  }
  &--twitter {
    width: 23px;
    height: 20px;
  }

  &:last-of-type {
    margin-right: 6px;
  }
}

@media #{$tablet} {
  .social {
    border-bottom: none;
  }
}
